:root {
  --greyblack: #000;
  --mentos: #daeddd;
  --violine: #7d7dff;
  --black: #000;
  --cookie: #7f724f;
  --soblue: #c7faff;
  --blanco: #fff;
  --backgroundSize: 295px;
}
@font-face {
  font-family: medieval;
  src: url('fonts/luxcontratenebrascond.ttf');
}
body {
  background-color: var(--greyblack);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}
html {
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
#entete {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
  background-color: rgba(0, 0, 0, 1.00);
  z-index: 1;
}
#entete p {
  font-family: "Literata";
	font-size: 14px;
  color: var(--blanco);
  margin: 0 0 0 15px;
  cursor: pointer;
}
#backgrounds {
  height: 100vh;
  z-index: 2;
  background-image: url("images/SVG/logoblanc.svg"), url("images/pattern2.jpg");
  background-size: 20%, var(--backgroundSize);
  background-repeat: no-repeat, repeat;
  animation: movingBackground 5s linear infinite;
}
#vagueback {
  display: block;
  position: absolute;
  right: 0;
  top: 79px;
  width: 10%;
  height: inherit;
  background-image: url("images/SVG/butte1.svg");
  background-position: top;
  background-repeat: no-repeat;
}
#back {
  opacity: 0;
}
#section1 {
  padding-top: 80px;
  position: sticky;
  top: 0;
}
.contenu {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin: auto;
}
.contenuXL {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
}
.contenuL {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 20%;
}
.titleblocA, .titleblocB, .itemblocV, .itemblocM, .itemblocVG, .itemblocB {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.titleblocA, .titleblocB {
  padding: 5px 40px;
}
.titleblocA p, .titleblocB p {
  margin: 0;
  padding: 0;
}
.itemblocV p, .itemblocM p, .itemblocVG p, .itemblocB p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 40px;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.itemblocB p {
  color: var(--blanco);
}
.titre, .nom {
  width: 23%;
}
.lieu, .web {
  width: 15%;
}
.ville, .bc {
  width: 10%;
}
.date, .rs {
  width: 10%;
}
.titre, .lieu, .ville, .date, .nom, .rs, .bc, .web {
  background-color: none;
  text-decoration: underline solid transparent;
  transition: text-decoration 500ms ease;
}
.nom:hover, .rs:hover, .bc:hover, .web:hover {
  text-decoration: underline solid #000;
}
.itemblocV:hover > .titre, .itemblocM:hover > .titre, .itemblocVG:hover > .titre {
  text-decoration: underline solid #000;
}
.itemblocV:hover > .lieu, .itemblocM:hover > .lieu, .itemblocVG:hover > .lieu {
  text-decoration: underline solid #000;
}
.itemblocV:hover > .ville, .itemblocM:hover > .ville, .itemblocVG:hover > .ville {
  text-decoration: underline solid #000;
}
.itemblocV:hover > .date, .itemblocM:hover > .date, .itemblocVG:hover > .date {
  text-decoration: underline solid #000;
}
.itemblocV, .itemblocM, .itemblocVG, .itemblocB {
  text-transform: uppercase;
  min-height: 40px;
  align-items: center;
  cursor: pointer;
  transition: background-position 0.5s ease-in-out;
}
.itemblocV:hover, .itemblocM:hover, .itemblocVG:hover {
  background-position: 82% -1px;
}
.itemblocVG {
  background: url("images/SVG/butte4.svg") no-repeat var(--violine);
  background-size: 5%;
  background-position: 85% -1px;
  color: var(--black);
}
.itemblocV {
  background: url("images/SVG/butte1.svg") no-repeat var(--violine);
  background-size: 5%;
  background-position: 85% -1px;
  color: var(--black);
}
.itemblocM {
  background: url("images/SVG/butte2.svg") no-repeat var(--mentos);
  background-size: 5%;
  background-position: 90% -1px;
  color: var(--black);
}
.titleblocA {
  background: url("images/SVG/butte2.svg") no-repeat;
  background-size: 5%;
  background-position: 90% -1px;
}
.titleblocB {
  background: url("images/SVG/butte4.svg") no-repeat;
  background-size: 5%;
  background-position: 90% -1px;
}
.titleblocA, .titleblocB {
  font-family: "Literata";
  min-height: 40px;
  font-weight: 300;
  font-size: 20px;
  color: var(--blanco);
  text-transform: capitalize;
}
#logo {
  aspect-ratio: 1 / 1;
  /*min-height: 100px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
#logo img {
  width: 45%;
}
#qui {
  background: var(--violine);
  padding: 0;
  align-items: center;
  justify-content: center;
}
#events, #lecteur {
  display: table-cell;
}
#lecteur {
  color: var(--mentos);
  height: 100%;
  vertical-align: top;
  background-image: url("images/pattern2.jpg");
  background-size: var(--backgroundSize);
  animation: movingBackground2 5s linear infinite;
}
#section2 {
  display: table !important;
}
.medieval {
  font-family: "medieval";
}
#rubrik {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 0;
  background-color: var(--black);
  color: var(--blanco)
}
#rubrik p {
  box-sizing: border-box;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
/* TICKER */
.ticker-wrap {
  width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--greyblack);
}
.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 20s linear infinite;
}
/* TABLEAUX*/
table {
  table-layout: fixed;
  border: 0;
  width: 75%;
}
tr {
  background-color: var(--blanco);
  color: var(--black);
  height: 40px;
  border: none;
}
td {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  text-align: left;
  padding: 0 0 0 40px;
}
.Lmenthe {
  background-color: var(--mentos);
}
.Lviolette {
  background-color: var(--violine);
}
/* Transition */
@keyframes movingBackground {
  from {
    background-position: center, 0 0;
  }
  to {
    background-position: center, var(--backgroundSize) var(--backgroundSize);
  }
}
@keyframes movingBackground2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}
@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%, 100% {
    left: 100%;
  }
}
/* GESTION DE SCROLL */
/* RESIZE */
@media screen and (min-width: 600px) {
  #petitmenu, #rubrik {
    display: none;
  }
  #qui {
    width: 80% !important;
  }
}
@media screen and (max-width: 600px) {
  #entete {
    display: none;
  }
  #section1 {
    padding-top: 0;
  }
  #logo img {
    width: 90%;
  }
  #logo, #qui {
    background-image: none;
  }
  #logo {
    width: 40%;
  }
  #qui {
    width: 60%;
  }
  .ticker-wrap {
    font-size: 20px;
  }
  #shows {
    background-image: none;
  }
  .titleblocA, .titleblocB, .itemblocV, .itemblocM, .itemblocVG {
    background-position: 95% 0;
    background-size: 5%;
  }
  .date, .ville, .lieu, .rs, .bc, .web {
    width: 0;
  }
  .titre, .nom {
    width: 60%;
  }
}
@media screen and (max-width: 1280px) {
  #logo img {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  #events {
    width: 100% !important;
  }
  #lecteur {
    display: none;
  }
  #intro {
    display: none;
  }
  section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}
/* LES LIEN */
a {
  transition: 1s;
}
#rubrik a:link {
  color: var(--blanco);
  text-decoration: none;
  /*  background-color: #000;*/
}
#rubrik a:visited {
  color: var(--blanco);
  text-decoration: none;
  /*  background-color: #000;*/
}
#rubrik a:hover {
  color: var(--mentos);
  text-decoration: none;
}
/* selected link */
#rubrik a:active {
  color: var(--blanco);
  text-decoration: none;
}
#entete a:link {
  color: var(--blanco);
  text-decoration: none;
  /*  background-color: #000;*/
}
#entete a:visited {
  color: var(--blanco);
  text-decoration: none;
  /*  background-color: #000;*/
}
#entete a:hover {
  color: var(--blanco);
  text-decoration: underline;
}
/* selected link */
#entete a:active {
  color: var(--blanco);
  text-decoration: underline;
}
#section2 a:link {
  color: var(--greyblack);
  text-decoration: none;
}
#section2 a:visited {
  color: var(--greyblack);
  text-decoration: none;
  /*  background-color: #000;*/
}
#section2 a:hover {
  color: var(--greyblack) !important;
  text-decoration: underline !important;
}
/* selected link */
#section2 a:active {
  color: var(--greyblack);
  text-decoration: none;
}